body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-name {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game .card {
    width: 180px;
    height: 225px;
    position: relative;
    margin: 20px;
}

.game .card .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.game .card .face img {
    width:100%;
}

.game .card .hide-back {
    transform: rotateY(180deg);
}

.game .card .show-back {
    transform: rotateY(0deg);
}

.game .card .hide-front {
    transform: rotateY(-180deg);
}

.clock {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 0px;
    right: 40px;
    color: #75B79E;
}